<a href="https://colab.research.google.com/github/ahsal075/ahsal/blob/main/Case_Study_on_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [24]:
## Load the dataset House_Pricing.csv
df = pd.read_csv("/content/House_Pricing (2).csv")

In [25]:
## Basic Info,Describe
print("ðŸ“‹ Dataset Info:")
print(df.info())
print("\nðŸ“Š Descriptive Stats:")
print(df.describe(include='all'))

ðŸ“‹ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB
None

ðŸ“Š Descriptive Stats:
                  ID Date House was Sold    Sale Price  No of Bedrooms  \
count   2.161300e+04               21613  2.160900e+04    21613.000000
unique           NaN                  13           NaN             NaN
top              NaN       15 April 2016           NaN             NaN
freq             NaN                2231           NaN             NaN
mean    4.580302e+09                 NaN  5.401984e+05        3.370842
std     2.876566e+09                 NaN  3.673890e+05        0.930062
min     1.000102e+06                 NaN  7.500000e+04        0.000000
25%     2.123049e+09                 NaN  3.219500e+05        3.000000
50%     3.904930e+09                 NaN  4.500000e+05        3.000000
75%     7.308900e+09                 NaN  6.450000e+05        4.000000
max     9.900000e+09                 NaN  7.700000e+06       33.000000

        No of Bathrooms  Flat Area (in Sqft)  Lot Area (in Sqft)  \
count      21609.000000         21604.000000        2.160400e+04
unique              NaN                  NaN                 NaN
top                 NaN                  NaN                 NaN
freq                NaN                  NaN                 NaN
mean           2.114732          2079.931772        1.510776e+04
std            0.770138           918.487597        4.142827e+04
min            0.000000           290.000000        5.200000e+02
25%            1.750000          1429.250000        5.040000e+03
50%            2.250000          1910.000000        7.617500e+03
75%            2.500000          2550.000000        1.068825e+04
max            8.000000         13540.000000        1.651359e+06

        No of Floors Waterfront View No of Times Visited  ... Overall Grade  \
count   21613.000000           21613                2124  ...  21613.000000
unique           NaN               2                   4  ...           NaN
top              NaN              No               Twice  ...           NaN
freq             NaN           21450                 963  ...           NaN
mean        1.494309             NaN                 NaN  ...      7.623467
std         0.539989             NaN                 NaN  ...      1.105439
min         1.000000             NaN                 NaN  ...      1.000000
25%         1.000000             NaN                 NaN  ...      7.000000
50%         1.500000             NaN                 NaN  ...      7.000000
75%         2.000000             NaN                 NaN  ...      8.000000
max         3.500000             NaN                 NaN  ...     10.000000

        Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
count                                21610.000000             21613.000000
unique                                        NaN                      NaN
top                                           NaN                      NaN
freq                                          NaN                      NaN
mean                                  1788.344193               291.509045
std                                    827.982604               442.575043
min                                    290.000000                 0.000000
25%                                   1190.000000                 0.000000
50%                                   1560.000000                 0.000000
75%                                   2210.000000               560.000000
max                                   9410.000000              4820.000000

        Age of House (in Years)  Renovated Year       Zipcode      Latitude  \
count              21613.000000    21613.000000  21612.000000  21612.000000
unique                      NaN             NaN           NaN           NaN
top                         NaN             NaN           NaN           NaN
freq                        NaN             NaN           NaN           NaN
mean                  46.994864       84.402258  98077.937766     47.560048
std                   29.373411      401.679240     53.505425      0.138565
min                    3.000000        0.000000  98001.000000     47.155900
25%                   21.000000        0.000000  98033.000000     47.470975
50%                   43.000000        0.000000  98065.000000     47.571800
75%                   67.000000        0.000000  98118.000000     47.678000
max                  118.000000     2015.000000  98199.000000     47.777600

           Longitude  Living Area after Renovation (in Sqft)  \
count   21612.000000                            21612.000000
unique           NaN                                     NaN
top              NaN                                     NaN
freq             NaN                                     NaN
mean     -122.213892                             1986.538914
std         0.140830                              685.404255
min      -122.519000                              399.000000
25%      -122.328000                             1490.000000
50%      -122.230000                             1840.000000
75%      -122.125000                             2360.000000
max      -121.315000                             6210.000000

        Lot Area after Renovation (in Sqft)
count                          21613.000000
unique                                  NaN
top                                     NaN
freq                                    NaN
mean                           12768.455652
std                            27304.179631
min                              651.000000
25%                             5100.000000
50%                             7620.000000
75%                            10083.000000
max                           871200.000000

[11 rows x 21 columns]

In [26]:
## Remove Duplicate Rows and Columns
df = df.drop_duplicates()

In [27]:
## Checking for duplicate columns
to_drop = []
cols = df.columns
for i in range(len(cols)):
    for j in range(i + 1, len(cols)):
        if df[cols[i]].equals(df[cols[j]]):
            to_drop.append(cols[j])

df = df.drop(columns=to_drop)

In [28]:
## Handle Missing Values
df = df.fillna(df.mean(numeric_only=True))

In [29]:
## Scaling Numerical Variables
numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()
numerical_cols.remove("Sale Price")

scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [19]:
## Encoding Categorical Variables
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

## One-Hot Encoding for nominal categories
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [30]:
## Outlier Removal
Q1 = df[numerical_cols].quantile(0.25)
Q3 = df[numerical_cols].quantile(0.75)
IQR = Q3 - Q1

## Keep only non-outlier rows
df = df[~((df[numerical_cols] < (Q1 - 1.5 * IQR)) | (df[numerical_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [33]:
## Train-Test Split
X = df.drop("Sale Price", axis=1)
y = df["Sale Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("\n Preprocessing Complete!")
print("Training Set Shape:", X_train.shape)
print("Testing Set Shape:", X_test.shape)

 Preprocessing Complete!
Training Set Shape: (12886, 20)
Testing Set Shape: (3222, 20)